<div style="font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2">
  <div style="margin:50px auto;width:70%;padding:20px 0">
    <div style="border-bottom:1px solid #eee">
      <a href="" style="font-size:1.4em;color: #2b0000;text-decoration:none;font-weight:600">Eprinting</a>
    </div>
    <p style="font-size:1.1em">Hi {{ full_name|default:'' }},</p>
    <p>To authenticate, please use the following One Time Password (OTP):</p>
    <h2
      style="background: #a80a0a;width: max-content;padding: 0 10px;color: #fff;border-radius: 4px;">{{ otp }}</h2>
    <p>Don't share this OTP with anyone.</p>
    <p style="font-size:0.9em;">Regards,<br/>Eprinting</p>
    <hr style="border:none;border-top:1px solid #eee"/>
    <div style="float:right;padding:8px 0;color:#aaa;font-size:0.8em;line-height:1;font-weight:300">
      <p>Eprinting</p>
    </div>
  </div>
</div>
